.card {
	margin-top: 2rem;
	text-align: center;
	width: 50vw;
}
.field {
	margin-bottom: 1.5rem;
}
.form-signup-card {
	padding: 2em;
	margin: 2rem;
}
.form-signup {
	justify-content: center;
	margin: auto;
}
