.form-event-create-container {
	max-width: 100%;
}
.form-event-create-checkbox-label {
	margin-left: 10px;
	font-size: small;
	color: #8b9398;
}
.form-event-create-card {
	min-width: 700px;
	padding: 2rem;
}
.form-event-create {
	padding: 2rem;
}
