.navbar-color {
	background-color: #1f2d3f;
}

/* #535bf2 */

.width-100 {
	width: 100%;
}

/* .blue-font {
    color: #535bf2;
} */

/* #basic-nav-dropdown{
    /* color: #535bf2;
} */

.nav-link:hover {
	color: #81c783; /*will change color of text within the element on hover */
}

.dropdown-menu {
	background-color: #1f2d3f;
}

.dropdown-item {
	/* color: #535bf2; */
	font-size: 18px;
}
